/* Сброс стандартных отступов и определение box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Боковое меню */
.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center; /* Выравнивание по центру */
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.sidebar ul li img {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.content {
    margin-left: 220px; /* Сдвиг контента вправо на ширину бокового меню */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Стили таблицы криптовалют */
.crypto-table {
    width: 100%;
    border-collapse: collapse;
   
    margin-top: 20px;
}

.crypto-table th,
.crypto-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border: none;
}

.crypto-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
}

/* Иконки криптовалют */
.crypto-name {
    display: flex;
    align-items: center;
}

.crypto-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.numeric-data {
    text-align: right; /* Числовые данные выравниваются по правому краю */
    font-weight: bold;
}

/* Процент изменения */
.percent-change {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Стили для строк таблицы при наведении */
.crypto-table tr:hover {
    background-color: #f9f9f9;
}


/* Стили для заголовка и описания раздела NFT */
.nfts-header {
    font-size: 36px; /* Большой размер заголовка */
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.nfts-description {
    font-size: 18px;
    color: #555;
    text-align: left;
    margin-bottom: 30px;
}

/* Контейнер для NFT картинок */
.nft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Индивидуальная карточка NFT */
.nft-item {
    width: 22%; /* Размер картинок на экране */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease;
}

.nft-item:hover {
    transform: translateY(-10px); /* Плавный подъем при наведении */
}

.nft-image {
    width: 100%; /* Картинка заполняет контейнер */
    height: auto;
    border-radius: 10px;
}

.nft-info {
    margin-top: 15px;
    text-align: center;
}

.nft-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nft-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.usd-price {
    font-weight: normal;
    color: #555;
    font-size: 14px;
}

.nft-owner {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .nft-list {
        justify-content: center;
    }

    .nft-item {
        width: 100%;
    }
}
/* Стили таблицы криптовалют */
.defi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.defi-table th,
.defi-table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border: none;
}

.defi-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
}

/* Иконки defi */
.defi-name {
    display: flex;
    align-items: center;
}

.defi-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.numeric-data {
    text-align: right; /* Числовые данные выравниваются по правому краю */
    font-weight: bold;
}

/* Процент изменения */
.percent-change {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Стили для строк таблицы при наведении */
.defi-table tr:hover {
    background-color: #f9f9f9;
}
/* Стили для раздела "Разработчики" */
.developers-header {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.developer-info, .contact-info {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.developer-info h2, .contact-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.developer-info p, .contact-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.developer-button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.developer-button:hover {
    background-color: #333;
}



.hidden {
    display: none;
}
/* Стили для мобильных устройств */
@media (max-width: 768px) {
    /* Боковая панель */
    .sidebar {
        position: fixed;
        bottom: 0; /* Закрепляем панель внизу */
        left: 0;
        width: 100%; /* Ширина панели на весь экран */
        height: 60px; /* Высота панели, можно регулировать */
        background-color: #f4f4f4;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9999;
    }

    /* Стили для ссылок в боковом меню */
    .sidebar ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: none;
    }

    .sidebar ul li a {
        text-decoration: none;
        color: #333;
        font-size: 14px; /* Размер шрифта для мобильных устройств */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    /* Иконки в боковой панели */
    .sidebar ul li img {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
    }

    /* Контент */
    .content {
        margin: 0 auto; /* Центрируем содержимое */
        padding: 0 15px; /* Отступы слева и справа */
        max-width: 100%; /* Ограничиваем ширину контента */
        box-sizing: border-box; /* Включаем отступы в ширину */
    }

    /* Убираем отступы и делаем таблицы компактными */
    .crypto-table,
    .defi-table {
        margin: 0 auto; /* Центрируем таблицу */
        padding: 0 10px; /* Отступы внутри таблицы */
        max-width: 100%; /* Таблица занимает не более ширины экрана */
        box-sizing: border-box; /* Учитываем отступы */
    }

    .crypto-table th,
    .crypto-table td,
    .defi-table th,
    .defi-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .nfts-header, .developers-header {
        text-align: center; /* Центрируем текст заголовков */
    }

   
}

/* Кнопка "Сделка" с овальным дизайном */
.deal-btn {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    border: none;
    padding: 8px 20px; /* Отступы для формы */
    border-radius: 30px; /* Делаем кнопку овальной */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.deal-btn:hover {
    background-color: #333; /* Темный оттенок при наведении */
}

/* Адаптивная кнопка на мобильных устройствах */
@media (max-width: 768px) {
    .deal-btn {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 12px;
        border-radius: 30px; /* Овальная форма для мобильных тоже */
    }
    /* Центрирование текста и кнопки на мобильных */
    .crypto-table td {
        text-align: center;
    }
}

/* Выровнять содержимое ячейки "Сделка" по центру */
.crypto-table td, .crypto-table th {
    text-align: center; /* Горизонтальное выравнивание */
    vertical-align: middle; /* Вертикальное выравнивание */
}
